body{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgb(26, 82, 118),rgb(31, 97, 141),rgb(36, 113, 163),rgb(41, 128, 185),rgb(84, 153, 199),rgb(169, 204, 227));    
}
.boxGeneral {
    margin-top: 10%;  
    background: linear-gradient(to right, white 50%, red 50%);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.4);
    padding: 10px;
    width: 80%;
    height: 400px;
}

/* Navegador */

.banner {
    display: flex;
    width: 100%;
    height: auto;
    
}
.logo {
    padding-left: 20px;
    padding-right: 20px;
    font-family: impact;
    font-size: 25px;

}
.nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: arial;
    font-size: 15px;
}

.nav a:hover {
    color: black;
    border-bottom: 2px solid white;
    border-radius: 3px;
    transition: 0.3s;
}
.nav{
    text-align: right;
    width: 100%;
}


/* Section */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
        
}

section p {
    text-align: justify;
    font-size: 30px;
    font-family: impact;
    color: rgb(187, 185, 185);
    width: 98%;
}

button {
    background-color: rgb(118, 115, 247);
    color: white;
    border: 0;
    border-radius: 5px;
    margin: 20px;
    margin-bottom: 5px;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    /* transition: 1.7s; */
}

button:hover {
    border-left: 30px red solid;
    transition: 0.7s;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: black;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}